.fifth {
  .info {
    padding-top: 15em;
    padding-right: 7em;
    padding-left: 7em;
    .thick {
      font-weight: bold;
    }
    .orangeText {
      color: rgb(211, 99, 96);
      font-weight: bold;
    }
    p {
      font-size: 1.2em;
    }
  }
}
li {
  font-size: 1.2em;
}
